absl-py==0.2.2
aiofiles==0.4.0
aiohttp==3.6.1
alabaster==0.7.10
amqp==2.5.0
anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
aniso8601==7.0.0
appnope==0.1.0
appscript==1.0.1
arrow==0.14.4
asn1crypto==0.22.0
asterisk==0.0.8
astor==0.7.1
astroid==1.5.3
astropy==2.0.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.1.0
autocorrect==0.3.0
Babel==2.5.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
billiard==3.6.0.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.0.0
blis==0.2.4
bokeh==0.12.10
boto==2.48.0
boto3==1.9.198
botocore==1.12.198
Bottleneck==1.2.1
celery==4.3.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
clickclick==1.2.2
cloudpickle==0.4.0
clyent==1.2.2
colorama==0.3.9
colorlover==0.2.1
conda==4.3.30
conda-build==3.0.27
conda-verify==2.0.0
configparser==3.7.4
connexion==2.3.0
contextlib2==0.5.5
cripto==1.0a0
cryptography==2.0.3
cufflinks==0.12.1
cycler==0.10.0
cymem==2.0.2
Cython==0.26.1
cytoolz==0.8.2
dask==0.15.3
datashape==0.5.4
decorator==4.1.2
distributed==1.19.1
dnspython==1.16.0
docutils==0.14
elasticsearch==7.0.2
en-core-web-sm==2.1.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastavro==0.22.3
fastcache==1.0.2
filelock==2.0.12
flakon==0.2
Flask==0.12.2
Flask-Basic==0.0.2
Flask-Cors==3.0.3
Flask-Injector==0.12.0
Flask-Login==0.4.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
future==0.17.1
gast==0.2.0
gensim==3.8.0
geographiclib==1.49
geopy==1.18.1
gevent==1.2.2
glob2==0.5
gmpy2==2.0.8
graypy==1.2.0
greenlet==0.4.12
grpcio==1.13.0
h5py==2.7.0
heapdict==1.0.0
html5lib==0.999999999
idna==2.6
idna-ssl==1.1.0
imageio==2.2.0
imagesize==0.7.1
inflection==0.3.1
injector==0.17.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jmespath==0.9.4
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
kombu==4.6.3
konfig==1.1
lazy-object-proxy==1.3.1
llvmlite==0.20.0
locket==0.2.0
lxml==4.1.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.8.1
mpmath==0.19
msgpack-python==0.4.8
multidict==4.5.2
multipledispatch==0.4.9
murmurhash==1.0.2
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.4
node==0.9.22
nose==1.3.7
notebook==5.0.0
numba==0.35.0+6.gaa35fb1
numexpr==2.6.2
numpy==1.16.4
numpydoc==0.7.0
odict==1.6.2
odo==0.5.1
olefile==0.44
openapi-spec-validator==0.2.8
openpyxl==2.4.8
packaging==16.8
pandas==0.22.0
pandas-datareader==0.6.0+21.gda18fbd
pandocfilters==1.4.2
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
pika==1.1.0
Pillow==4.2.1
pkginfo==1.4.1
plac==0.9.6
plotly==2.5.1
plumber==1.5
plumbum==1.6.7
ply==3.10
preshed==2.0.1
prompt-toolkit==1.0.15
protobuf==3.6.0
psutil==5.4.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5.2
py==1.4.34
pycodestyle==2.3.1
pycosat==0.6.2
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.6.0
pygame==1.9.6
Pygments==2.2.0
PyJWT==1.4.2
pylint==1.7.4
pymongo==3.9.0
PyMySQL==0.9.3
pyodbc==4.0.17
pyOpenSSL==17.2.0
pyparsing==2.2.0
PySocks==1.6.7
pytest==3.2.1
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==5.1.2
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
redis==3.3.6
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-mock==1.6.0
rope==0.10.5
rpyc==4.1.0
ruamel-yaml==0.11.14
# Editable install with no version control (runnerly-monolith==0.1)
-e /Users/caioDoran/Documents/Bibliotecas/monolith-master
s3transfer==0.2.1
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.8
selenium==3.14.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.8.4
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
soupsieve==1.8
spacy==2.1.6
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
spyder==3.2.4
SQLAlchemy==1.3.4
srsly==0.0.7
statsmodels==0.8.0
stravalib==0.10.2
swagger-parser==1.0.1
swagger-spec-validator==2.4.3
swagger-ui-bundle==0.0.5
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
thinc==7.0.8
toolz==0.8.2
tornado==4.5.2
tqdm==4.32.2
traitlets==4.3.2
typing==3.6.2
typing-extensions==3.7.4
unicodecsv==0.14.1
units==0.7
urllib3==1.22
vine==1.3.0
waitress==1.3.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.5
WebTest==2.0.33
Werkzeug==0.12.2
widgetsnbextension==3.0.2
Wikidata==0.6.1
wrapt==1.10.11
WSGIProxy2==0.4.6
WTForms==2.2.1
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.4
xlwt==1.2.0
yarl==1.3.0
zict==0.1.3
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.4.3
zope.lifecycleevent==4.2.0
